{% extends 'base_order.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blm/order/css/order.css' %}">
{% endblock %}


{% block title %}
    <title>
        饱了吗订单
    </title>
{% endblock %}


{% block header %}
    <div style="padding-top: 12px">
        &nbsp
        <a href="{% url 'blmmine:mine' %}">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color: white"></span>
        </a>
        <span style="color: white;font-size: 15px;margin-left: 130px">订单详情</span>
    </div>
{% endblock %}


{% block content %}
    {#    显示订单#}
    {% for order in orders %}
        <div class="panel panel-default" style="margin:8px;margin-bottom: 4px">
            <div class="panel-body" style="padding: 5px">
                <span style="margin-left: 10px">{{ order.o_time }}</span>
                {% for ordergood in order.blm_ordergoods_set.all %}
                    <div class="item">
                        <div class="item-left">
                            <div class="item-img"><img src="/static{{ ordergood.og_good.img }}"></div>
                        </div>
                        <div class="item-right">
                            <div class="title">{{ ordergood.og_good.productlongname }}</div>
                            <p class="detailTag"><span>精选</span></p>
                            <div class="price">¥ {{ ordergood.og_good.price }}
                                <span> x{{ ordergood.og_c_good_num }}个</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <span class="title2">{{ addr_detail }}</span><br>
                <span style="margin-left: 10px">{{ addr.consignee }}</span>
                <span style="margin-left: 10px">{{ addr.userPhone }}</span><br>
                <span style="margin-left: 10px">共：{{ order.o_total_price }}元</span>
            </div>
        </div>
    {% endfor %}


    <div class="form-group" style="margin-bottom: 120px;display: block">
        <div class="col-sm-8"></div>
    </div>
{% endblock %}