{% extends 'base_main.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blm/main/car/css/car.css' %}">

{% endblock %}

{% block title %}
    <title>
        饱了吗购物车
    </title>
{% endblock %}


{% block header %}
    <div class="center-block" style="padding-top: 15px">
        <h2 style="color: white;font-size: 18px">购物车</h2>
    </div>
{% endblock %}


{% block content %}
    {% for car in cars %}
        <div class="panel panel-default" style="margin:8px;margin-bottom: 0px">
            <div class="panel-body" style="padding: 5px">
                <div class="item" c_id="{{ car.id }}">
                    <div class="confirm" style="float: right">
                        <span>
                            {% if car.is_buy %}
                                <span>✔</span>
                            {% else %}
                                <span></span>
                            {% endif %}
                        </span>
                    </div>

                    <div class="item-left">
                        <div class="item-img"><img src="/static{{ car.c_good.productimg }}"></div>
                    </div>
                    <div class="item-right">
                        <div class="title">{{ car.c_good.productlongname }}</div>
                        <p class="detailTag"><span>精选</span></p>
                        <div class="price">¥ {{ car.c_good.price }}
                            <span>¥ {{ car.c_good.marketprice }}</span>
                        </div>
                    </div>
                    <section id="section1">
                        <button class="reduce" c_id="{{ car.id }}">-</button>
                        <span g_id="{{ car.c_good_id }}">{{ car.g_num }}</span>
                        <button class="add" c_id="{{ car.id }}">+</button>
                    </section>
                    <a href="{% url 'blmcar:deletegood' %}?cid={{ car.id }}" class="glyphicon glyphicon-trash"
                       aria-hidden="true"
                       style="color: grey;float: right;margin-top: 20px"></a>
                </div>

            </div>
        </div>
    {% endfor %}

    <div class="form-group" style="margin-bottom: 150px;display: block">
        <div class="col-sm-8"></div>
    </div>

    <div class="panel panel-default" style="position: fixed;bottom: 33px;width: 380px">
        <div class="panel-body">
                <span class="all_select" style="margin-top: 2.5px;margin-right: 3px;margin-left: 5px">
                    {% if is_all_buy %}
                        <span>✔</span>
                    {% else %}
                        <span></span>
                    {% endif %}
                </span>
            全选
            <span id="pay_money" class="glyphicon glyphicon-yen" aria-hidden="true" style="margin-left: 40px">:&nbsp{{ money }}</span>
            {% if can_pay %}
                <a href="{% url 'blmcar:pay' %}?uid={{ u_id }}" style="float: right;padding-right: 5px">结算</a>
            {% else %}
                <a href="{% url 'user:address' %}" style="float: right;padding-right: 5px">结算</a>
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block ext_js %}
    <script src="{% static 'blm/main/car/js/car.js' %}"></script>
{% endblock %}