{% extends 'base_main.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blm/main/car/css/car.css' %}">

{% endblock %}

{% block title %}
    <title>
        饱了吗购物车
    </title>
{% endblock %}


{% block header %}
    <div class="center-block" style="padding-top: 15px">
        <h2 style="color: white;font-size: 18px">购物车</h2>
    </div>
{% endblock %}


{% block content %}
    <div class="panel panel-default" style="margin:8px;margin-bottom: 12px">
        <div class="panel-body" style="padding: 5px">
            <img src="{% static 'blm/main/mine/img/oldtx.png' %}" class="img-circle"
                 style="width: 60px;float: left;margin-top: 5px;margin-bottom: 5px">
            <label style="margin-top: 18px;margin-left: 10px">用户名</label><br>
            <label style="margin-left: 10px">手机号</label>
        </div>
    </div>
    <div class="panel panel-default" style="margin:8px;margin-bottom: 12px">
        <div class="panel-body" style="padding: 5px">
            <img src="{% static 'blm/main/mine/img/oldtx.png' %}" class="img-circle"
                 style="width: 60px;float: left;margin-top: 5px;margin-bottom: 5px">
            <label style="margin-top: 18px;margin-left: 10px">用户名</label><br>
            <label style="margin-left: 10px">手机号</label>
        </div>
    </div>
    <div class="panel panel-default" style="margin:8px;margin-bottom: 12px">
        <div class="panel-body" style="padding: 5px">
            <img src="{% static 'blm/main/mine/img/oldtx.png' %}" class="img-circle"
                 style="width: 60px;float: left;margin-top: 5px;margin-bottom: 5px">
            <label style="margin-top: 18px;margin-left: 10px">用户名</label><br>
            <label style="margin-left: 10px">手机号</label>
        </div>
    </div>
    <div class="panel panel-default" style="margin:8px;margin-bottom: 12px">
        <div class="panel-body" style="padding: 5px">
            <img src="{% static 'blm/main/mine/img/oldtx.png' %}" class="img-circle"
                 style="width: 60px;float: left;margin-top: 5px;margin-bottom: 5px">
            <label style="margin-top: 18px;margin-left: 10px">用户名</label><br>
            <label style="margin-left: 10px">手机号</label>
        </div>
    </div>
    <div class="panel panel-default" style="margin:8px;margin-bottom: 12px">
        <div class="panel-body" style="padding: 5px">
            <img src="{% static 'blm/main/mine/img/oldtx.png' %}" class="img-circle"
                 style="width: 60px;float: left;margin-top: 5px;margin-bottom: 5px">
            <label style="margin-top: 18px;margin-left: 10px">用户名</label><br>
            <label style="margin-left: 10px">手机号</label>
        </div>
    </div>
    <div class="panel panel-default" style="margin:8px;margin-bottom: 12px">
        <div class="panel-body" style="padding: 5px">
            <img src="{% static 'blm/main/mine/img/oldtx.png' %}" class="img-circle"
                 style="width: 60px;float: left;margin-top: 5px;margin-bottom: 5px">
            <label style="margin-top: 18px;margin-left: 10px">用户名</label><br>
            <label style="margin-left: 10px">手机号</label>
        </div>
    </div>
    <div class="panel panel-default" style="margin:8px;margin-bottom: 12px">
        <div class="panel-body" style="padding: 5px">
            <img src="{% static 'blm/main/mine/img/oldtx.png' %}" class="img-circle"
                 style="width: 60px;float: left;margin-top: 5px;margin-bottom: 5px">
            <label style="margin-top: 18px;margin-left: 10px">用户名</label><br>
            <label style="margin-left: 10px">手机号</label>
        </div>
    </div>
    <div class="panel panel-default" style="margin:8px;margin-bottom: 12px">
        <div class="panel-body" style="padding: 5px">
            <img src="{% static 'blm/main/mine/img/oldtx.png' %}" class="img-circle"
                 style="width: 60px;float: left;margin-top: 5px;margin-bottom: 5px">
            <label style="margin-top: 18px;margin-left: 10px">用户名</label><br>
            <label style="margin-left: 10px">手机号</label>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 150px;display: block">
        <div class="col-sm-8"></div>
    </div>

    <div class="panel panel-default" style="position: fixed;bottom: 33px;width: 380px">
        <div class="panel-body">
            Basic panel example
        </div>
    </div>

{% endblock %}


{% block ext_js %}

{% endblock %}