{% extends 'base_main.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blm/main/home/css/home.css' %}">
{% endblock %}


{% block title %}
    <title>
        饱了吗首页
    </title>
{% endblock %}


{% block header %}
    {{ block.super }}
    <a href="#" class="jq22-navBar-item">
        <i class="icon icon-return"></i>
    </a>
    <div class="jq22-center">
        <div class="jq22-search-box">
            <i class="icon icon-search" style="margin-left: 220px"></i>
            <input type="text" placeholder="搜索好物">
        </div>
    </div>
    <a href="#" class="jq22-navBar-item">
        <i class="icon icon-news"></i>
    </a>
{% endblock %}


{% block content %}
    <section class="jq22-scrollView">

        <div class="jq22-five-box"></div>

        {#        图片循环#}
        <div class="m-slider" data-ydui-slider>
            <div class="slider-wrapper">
                {% for wheel in wheels %}
                    <div class="slider-item">
                        <a href="#">
                            <img src="/static/blm/main/home{{ wheel.img }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="slider-pagination"></div>
        </div>

        {#        标题选择#}
        <div class="jq22-palace">
            {% for choice in choices %}
                <a href="#" class="jq22-palace-grid">
                    <div class="jq22-palace-grid-icon">
                        <img src="/static/blm/main/home{{ choice.img }}">
                    </div>
                    <div class="jq22-palace-grid-text">
                        <h2>{{ choice.name }}</h2>
                    </div>
                </a>
            {% endfor %}
        </div>

        {#        百亿补贴#}
        <div class="jq22-chang-box">
            <div class="jq22-chang-title">
                <h1>百亿补贴</h1>
            </div>
            <div class="jq22-list-theme-box">
                {% for discount in discounts %}
                    <a href="javascript:;" class="jq22-list-item">
                        <div class="jq22-list-theme-img">
                            <img src="/static/blm/main/home{{ discount.img }}"
                                 style="width: 60px;margin-top: 20px;margin-bottom: 18px;margin-left: 20px">
                        </div>
                        <div class="jq22-list-theme-message">
                            <div class="jq22-flex">
                                <div class="jq22-flex-box">
                                    <h2 class="jq22-one-six">{{ discount.name }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="jq22-gray-box">
            {#品牌餐饮商#}
            <div class="jq22-chang-white">
                <div class="jq22-flex">
                    <div class="jq22-flex-box">
                        <h3>品牌餐饮商直供</h3>
                    </div>
                    <div class="jq22-arrow">
                        <span>查看全部</span>
                    </div>
                </div>
                <div class="jq22-list-theme-box jq22-list-theme-box-one">
                    {% for brand in brands %}
                        <a href="#" class="jq22-list-item">
                            <div class="jq22-list-theme-img">
                                <img src="/static/blm/main/home{{ brand.img }}">
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>

            {#秒杀#}
            <div class="jq22-chang-white" style="padding-bottom:0">
                <div class="jq22-list-theme-box jq22-list-theme-box-one jq22-list-theme-box-two">
                    {% for activity in activities %}
                        <a href="#" class="jq22-list-item b-line">
                            <div class="jq22-list-theme-message">
                                <div class="jq22-flex">
                                    <div class="jq22-flex-box">
                                        <h1>{{ activity.name }}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="jq22-list-theme-img">
                                <img src="/static/blm/main/home{{ activity.img }}">
                                <img src="/static/blm/main/home{{ activity.img2 }}">
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>

            {#推荐物品#}
            <div class="jq22-six-title">
                <h1>专属推荐</h1>
            </div>
            <div class="jq22-list-theme-box jq22-list-theme-box-three">
                {% for recommend in recommends %}
                    <a href="#" class="jq22-list-item">
                        <div class="jq22-list-theme-img">
                            <img src="/static/blm/main/home{{ recommend.img }}">
                        </div>
                        <div class="jq22-list-theme-message">
                            <h3 class="jq22-list-theme-subtitle"> {{ recommend.name }}</h3>
                            <div class="jq22-flex">
                                <div class="jq22-flex-box">
                                    <h2>
                                        <em>￥</em>{{ recommend.now_price }}
                                        <i>￥{{ recommend.ex_price }}</i>
                                    </h2>
                                    <span>{{ recommend.status }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div style="height:55px;"></div>
    </section>
{% endblock %}


{% block ext_js %}
    <script src="{% static 'blm/main/home/js/slider.js' %}"></script>
{% endblock %}