{% extends 'base_user.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
{% endblock %}


{% block header %}
    <div class="" style="padding-top: 12px">
        &nbsp
        <a href="{% url 'blmmine:mine' %}">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color: white"></span>
        </a>
    </div>
{% endblock %}


{% block content %}
    {% if error == 1 %}
        <div class="alert alert-danger" role="alert" style="text-align: center">用户名不存在！</div>
    {% endif %}
    {% if error == 0 %}
        <div class="alert alert-danger" role="alert" style="text-align: center">密码有误！</div>
    {% endif %}


    <div style="margin-top: 70px"></div>
    <h2 align="center">登录</h2>
    <div style="margin-top: 40px"></div>

    <form class="form-horizontal" action="{% url 'user:login' %}" method="POST" enctype="multipart/form-data">
        {#       用户名#}
        <div class="container">
            <label class="col-sm-2 control-label">用户名</label>
            <input type="text" name="username" placeholder="Account" class="form-control"
                   style="width: 220px;display: inline">
        </div>

        <div class="form-group">
            <div class="col-sm-8"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-8"></div>
        </div>

        {#       密码#}
        <div class="container">
            <label class="col-sm-2 control-label">密&nbsp&nbsp&nbsp&nbsp码</label>
            <input type="password" name="password" placeholder="Password" class="form-control"
                   style="width: 220px;display: inline">
        </div>

        <div class="form-group">
            <div class="col-sm-8"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-8"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-8"></div>
        </div>

        <div class="container">
            <label class="col-sm-2 control-label"></label>
            <button type="submit" id="toast" class="btn btn-info" style="margin-left: 70px">登录</button>
            &nbsp
            <a href="{% url 'user:register' %}">
                <button type="button" class="btn btn-info" style="margin-left: 20px">注册</button>
            </a>
        </div>
    </form>

{% endblock %}

{% block ext_js %}
{% endblock %}