{% extends 'base_main.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blm/main/market/css/market.css' %}">
{% endblock %}

{% block title %}
    <title>
        饱了吗全球购
    </title>
{% endblock %}

{% block header %}
    {{ block.super }}

    <div class="center-block" style="padding-top: 15px;position: relative;height: 44px">
        <h2 style="color: white;font-size: 18px">全球购</h2>
    </div>

{% endblock %}


{% block content %}
    <div class="swiper-container">
        {#    顶栏显示#}
        <ul class="swiper-container-ul">
            <li class="swiper-container-ul-li actives" id="all_type">
                全部分类 <span class="glyphicon glyphicon-chevron-down"></span>
            </li>
            <li class="swiper-container-ul-li" id="sort_rule">
                综合排序 <span class="glyphicon glyphicon-chevron-down"></span>
            </li>

            {#            全部分类的显示模块#}
            <div id="all_type_container" hidden="hidden">
                <div style="padding:10px">
                    {% for child_name in child_name_list %}
                        {% if child_name.1 == childcid %}
                            <a class="btn btn-info"
                               href="{% url 'blmmarket:market' %}?typeid={{ typeid }}&childcid={{ child_name.1 }}"
                               role="button" style="margin-top: 5px">{{ child_name.0 }}
                            </a>
                        {% else %}
                            <a class="btn btn-default"
                               href="{% url 'blmmarket:market' %}?typeid={{ typeid }}&childcid={{ child_name.1 }}"
                               role="button" style="margin-top: 5px">{{ child_name.0 }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            {#            综合排序的显示模块#}
            <div id="type_sort_container" hidden="hidden">
                <div style="padding:10px">
                    {% for ordertype in ordertypes %}
                        {% if ordertype.id == orderid %}
                            <a class="btn btn-info"
                               href="{% url 'blmmarket:market' %}?typeid={{ typeid }}&childcid={{ childcid }}&ordertype={{ ordertype.id }}"
                               role="button"
                               style="margin-top: 5px">{{ ordertype.type_name }}</a>
                        {% else %}
                            <a class="btn btn-default"
                               href="{% url 'blmmarket:market' %}?typeid={{ typeid }}&childcid={{ childcid }}&ordertype={{ ordertype.id }}"
                               role="button" style="margin-top: 5px">{{ ordertype.type_name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </ul>


        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="content" style="height: 5500px;">
                    {#左栏显示#}
                    <div id="left" class="left">
                        <ul>
                            {% for foodtype in foodtypes %}
                                {% if foodtype.typeid == typeid %}
                                    <li class="active">
                                        <a href="{% url 'blmmarket:market' %}?typeid={{ foodtype.typeid }}">
                                            {{ foodtype.typename }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'blmmarket:market' %}?typeid={{ foodtype.typeid }}">
                                            {{ foodtype.typename }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="right" class="right" style="">
                        <ul>
                            {#热搜榜#}
                            <li>
                                {#                                <div class="class-title">热搜榜</div>#}
                                {% for good in good_list %}
                                    <div>
                                        <div class="item">
                                            <div class="item-left">
                                                <div class="item-img"><img src="images/p1.jpg"></div>
                                            </div>
                                            <div class="item-right">
                                                <div class="title">{{ good.productlongname }}</div>
                                                <p class="detailTag"><span>精选</span></p>
                                                <div class="price">¥ {{ good.price }}
                                                    <span>¥ {{ good.marketprice }}</span>
                                                </div>
                                            </div>
                                            <section id="section1">
                                                <button class="reducetocar" g_id="{{ good.id }}">-</button>
                                                <span g_id="{{ good.id }}">0</span>
                                                <button class="addtocar" g_id="{{ good.id }}">+</button>
                                            </section>
                                        </div>
                                    </div>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block ext_js %}
    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="{% static 'blm/main/market/js/market.js' %}"></script>
{% endblock %}